@font-face {
    font-family: "Young Serif";
    src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
    font-family: "Outfit";
    src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

body {
    margin: 0px;
    background-color: hsla(14, 45%, 36%, 0.301);
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
}

p, h1, h2, h3 {
    margin: 0px;
    padding: 0px;
}

h1, h2 {
    font-family: "Young Serif";
    font-weight: 400;
}

p, h3, ol {
    font-family: Outfit;
}

.box {
    background-color: hsl(0, 0%, 100%);
    max-width: 700px;
    height: 100%;
    padding: 30px;
}

img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 20px;
    display: block;
}

.img {
    width: 100%;
    object-fit: cover;
    display: grid;
    align-items: center;
    justify-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 15px;
    font-size: 40px;
}

p {
    font-size: 16px;
    font-weight: 400;
    color: hsl(30, 10%, 34%);
    line-height: 1.3;
}

.preparation {
    margin: 30px 0px 30px 0px;
    background-color: hsl(330, 100%, 98%);
    padding: 20px;
    border-radius: 5px;
}

.preparation h3 {
    color: hsl(332, 51%, 32%);
}

.preparation li {
    color: hsl(332, 51%, 32%);
}

li p {
    margin-left: 15px;
}

h2 {
    color: hsl(14, 45%, 36%);
}

li {
    color: hsl(14, 45%, 36%);
    margin-bottom: 5px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: hsl(30, 18%, 87%);
    display: block;
    margin: 30px 0px 30px 0px;
}

ol {
    font-weight: 700;
}

.bold {
    color: hsl(24, 5%, 18%);
    font-weight: 700;
}

.nutrition-table-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 0px 10px 20px;
}

.nutrition-table-item-1 {
    font-weight: 400;
}

.nutrition-line {
    width: 100%;
    height: 1px;
    background-color: hsl(30, 18%, 87%);
    display: block;
}

.nutrition-table-item-2 {
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}

.attribution { 

    font-family: Outfit;
    font-size: 14px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}