* {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(204, 43%, 93%);
}

.main {
    display: grid;
    max-width: 650px;   
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.8fr 1fr;
    border-radius: 10px;
}

.up-card {
    grid-row: 1;
    grid-column: 1 / -1;
}

.up-card {
    background-color: white;
    padding: 40px;
    border-radius: 10px 10px 0 0;
}

.bottom-card-left {
    background-color: hsla(179, 62%, 43%, 0.87);
    padding: 40px;
    border-radius: 0 0 0 10px;
}

.bottom-card-right {
    background-color:hsl(179, 62%, 43%, 0.7);
    padding: 40px;
    border-radius: 0 0 10px 0;
}

p {
    font-size: 16px;
}

.up-titulo {
    color: hsl(179, 62%, 43%);
    font-weight: 700;
}

.paragrafo-verde {
    color: hsl(71, 73%, 54%);
    font-weight: 700;
    margin-top: 20px;
}

.paragrafo-top {
    color: hsl(218, 22%, 67%);
    margin-top: 10px;
    letter-spacing: 0.1px;
}

.bottom-titulo {
    color: white;
    font-size: 15px;
    margin-bottom: 10px;
}

.paragrafo-preco {
    display: flex;
    gap: 12px;
}

.dolar {
    font-size: 30px;
    color: white;
}

.month {
    color: hsl(204, 43%, 93%, 0.4);
    align-self: center;
    font-weight: 400;
}

.paragrafo-left {
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    letter-spacing: .1px;
}

.botao {
    margin-top: 30px;
    background-color: hsl(71, 93%, 45%);
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    text-align: center;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.233) ;
}

.botao:hover {
    background-color: hsl(71, 96%, 28%);
}

.paragrafo-right {
    color: hsla(203, 44%, 93%, 0.671);
    margin-bottom: 2px;
    letter-spacing: .1px;
    font-weight: 400;
}

@media (max-width: 650px) {
    .main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.6fr 0.6fr;
        width: 100vw;   
        height: 100vh;
    }
    
    .up-card {
        border-radius: 0px;
    }
    .bottom-card-left {
        border-radius: 0px;
    }

    .bottom-card-right {
        border-radius: 0px;
    }

    .paragrafo-top {
        margin-top: 25px;
        font-size: 22px;
    }

    .bottom-titulo {
        font-size: 20px;
    }

    .paragrafo-preco {
        margin-top: 15px;
    }
    .dolar {
        font-size: 35px;
    }

    .month {
        font-size: 18px;
    }

    .paragrafo-left {
        font-size: 18px;
    }

    .botao {
        margin-top: 35px;
        padding: 20px;
    }

    .botao p{
        font-size: 20px;
    }

    .paragrafo-right {
        font-size: 18px;
    }
}


